@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply flex mt-2 md:mt-0   whitespace-nowrap p-1 hover:text-primary transition-all 
}

.bg-nav {
  @apply backdrop-blur-xl bg-white/50;
}

.children-nav h3{
  @apply text-lg font-bold text-primary whitespace-normal;
  white-space: normal!important; 
}

.children-nav ul li {
  @apply text-sm text-black hover:text-primary py-1 border-b-white border-b cursor-pointer transition-all;
}

.children-nav div {
  @apply whitespace-break-spaces text-wrap break-words;
  overflow-x: hidden!important;  
  overflow-wrap: break-word!important;  
}

.hover-anim {
  display: inline-block;
  position: relative;
}
.hover-anim:hover {
  color: #033e85 !important;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.hover-anim:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -1px;
  left: 0;
  background-color: #0045A4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.z-500 {
  z-index: 9999999999!important;
}

.slick-slider .slick-dots {
  position: absolute;
  bottom: 43px; 
  display: flex;
  justify-content: end!important;
  width: 100%;
  padding: 0;
  color: white;

  margin: 0;
  list-style: none;
}

.slick-slider .slick-dots li button {
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}