@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.nav-link {
  @apply flex p-1 mt-2 transition-all md:mt-0 whitespace-nowrap hover:text-primary;
}

.bg-nav {
  @apply backdrop-blur-xl bg-white/50;
}

/* 
.children-nav {
  z-index: 99999999999999 !important;
} */

.children-nav h3 {
  @apply text-lg font-medium whitespace-normal text-primary-dark;
  white-space: normal !important;
}

.children-nav ul li {
  @apply py-1 text-sm font-normal text-black transition-all border-b cursor-pointer hover:text-primary border-b-white;
}

.children-nav div {
  @apply break-words whitespace-break-spaces text-wrap;
  overflow-x: hidden !important;
  overflow-wrap: break-word !important;
}

.hover-anim {
  display: inline-block;
  position: relative;
}

.hover-anim:hover {
  color: #033e85 !important;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.hover-anim:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -1px;
  left: 0;
  background-color: #0045A4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.z-500 {
  z-index: 9999999999999999999999999999999999 !important;
}

.z-0 {
  z-index: -1 !important;
}

.navbar {
  z-index: 10000 !important;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}

.quick-link {
  @apply flex items-center justify-center p-3 font-bold tracking-wide transition-transform transform rounded bg-white/50 ;
}